<div class="row">
    <div class="col">
        <input #termino name="" id="" (keyup)="buscar(termino.value)" class="form-control" type="text" value="" placeholder="Buscar artista">
    </div>

</div>

<div class="card-columns m-5">
    <div *ngFor="let artist of artists" class="card">
      <img [src]="artist.images[0].url" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{artist.name}}</h5>

        <!-- <p class="card-text">
            <span *ngFor="let artist of song.artists" class="badge badge-primary">{{artist.name}}</span>

        </p> -->
      </div>
    </div>
</div>